<div class="productsContainer">
  <div class="cta">
    <div class="navigator">
      <p
        class="navlink"
        [ngClass]="{ selectedLink: !showUserProducts }"
        (click)="onUserClick(false)"
      >
        All Products
      </p>
      <p class="navlink separator">|</p>
      <p
        class="navlink"
        [ngClass]="{ selectedLink: showUserProducts }"
        (click)="onUserClick(true)"
      >
        My Products
      </p>
    </div>
    <div class="categories">
      @for(category of categories; track category.id) {
      <p
        (click)="onCategoryClick(category.id)"
        [ngClass]="{
          category: true,
          sports: category.id === 'sports' && selectedCategory === 'sports',
          utility: category.id === 'utility' && selectedCategory === 'utility',
          comfort: category.id === 'comfort' && selectedCategory === 'comfort',
          electronics:
            category.id === 'electronics' && selectedCategory === 'electronics',
          others: category.id === 'others' && selectedCategory === 'others'
        }"
      >
        {{ category.name }}
      </p>
      }
    </div>
  </div>
  <div class="products">
    @for (item of items; track item.id) {
    <app-product
      [productName]="item.productName"
      [description]="item.description"
      [price]="item.price"
      [img]="item.image"
      [category]="item.categoryId"
    ></app-product>
    }
  </div>
</div>
